.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.info {
  display: flex;
  font-size: large;
  justify-content: center;
  align-items: center;
  gap: 80px
}

.info p {
  text-align: center;
  width: 200px;
}

.infoBlur {
  display: flex;
  font-size: large;
  justify-content: center;
  align-items: center;
  gap: 80px;
  filter: blur(50px);
}

.infoBlur p {
  text-align: center;
  width: 200px;
}

.student {
  display: flex;
  font-size: large;
  justify-content: center;
  align-items: center;
  gap: 80px
}

.student p {
  text-align: center;
  width: 200px;
}

.studentBlur {
  display: flex;
  font-size: large;
  justify-content: center;
  align-items: center;
  gap: 80px;
  filter: blur(50px);
}

.studentBlur p {
  text-align: center;
  width: 200px;
}

.modal {
  background-color: rgb(44, 44, 44);
  position: fixed;
  width: 500px;
  left: 450px;
  top: 350px;
}

.fix {
  background-color: rgb(39, 39, 39);
}

.close {
  position: fixed;
  top: 330px;
  right: 420px;
}

.close:hover {
  cursor: pointer;
  color: red;
}